<!--createProfile.html
@Author Jacob Jonas
@Date 5/8/22
-->

<include href="views/header.html"></include>
<div class="container border rounded">


    <br>
    <br>

    <h2 class="text-center">Personal Information</h2>
    <hr class="style1">
    <br>

    <!--Form Start-->
    <form class="container" method="post" action="#">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <!--            First Name -->
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control " id="fname"
                           name="fname" value="{{@userFname}}">
                </div>
                <!--        Display error if true-->
                <check if="{{ isset(@errors['fname']) }}">
                    <span class="err text-danger">{{ @errors['fname']}}</span>
                </check>

                <div class="form-group ">
                    <!--            Last name -->
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control " id="lname"
                           name="lname" value="{{@userLname}}">
                </div>
                <!--        Display error if true-->
                <check if="{{ isset(@errors['lname']) }}">
                    <span class="err text-danger">{{ @errors['lname']}}</span>
                </check>
            </div>
            <!--        Notes-->
            <p class="col-lg-3 border rounded bg-light" id="Info">
                <b>Notes: </b>All information entered is protected by out
                privacy
                policy. Profile information can only be viewed with your
                permission</p>

            <div class="form-group col-lg-5">
                <!--        Age -->
                <label for="Age">Age</label>
                <input type="text" class="form-control" id="Age" name="Age"
                       value="{{@userAge}}">
                <br>
                <!--        Display error if true-->
                <check if="{{ isset(@errors['Age']) }}">
                    <span class="err text-danger">{{ @errors['Age']}}</span>
                    <br>
                </check>

                <!--What is your gender-->
                <label>Gender</label>
                <div class="form-check col-lg-11">
                    <br>

                    <input class="form-check-input" type="radio"
                           name="gridRadios" id="gridRadios1" value="Male">
                    <label class="form-check-label" for="gridRadios1"
                           id="gridIDRadios1">Male</label>


                    <input class="form-check-input" type="radio"
                           name="gridRadios" id="gridRadios2" value="Female">
                    <label class="form-check-label" for="gridRadios2"
                           id="gridIDRadios2">Female</label>

                    <input class="form-check-input" type="radio"
                           name="gridRadios" id="gridRadios3"
                           value="Non-Binary">
                    <label class="form-check-label " for="gridRadios3"
                           id="gridIDRadios3">Non-Binary</label>

                </div>
            </div>

        </div>
        <br>
        <!--Phone number-->
        <div class="form-check col-lg-11">
            <label for="Phone">Phone Number</label>
            <input type="text" class="form-control" id="Phone" name="Phone"
                   value="{{@userPhone}}">

        </div>
<br>
        <div class="form-check col-lg-11 ">
            <label class="form-check-label" for="membership">Premium Membership

            <br>

            <input class="" type="checkbox" name="membership" id="membership"
                   value="PremiumMember">
                <span>Sign me up for a Premium Account!</span>
            </label>

        </div>

        <!--        Display error if true-->
        <check if="{{ isset(@errors['Phone']) }}">
            <span class="err text-danger">{{ @errors['Phone']}}</span>
            <br>
        </check>
        <div class="text-right">
            <!--        submit-->
            <button class="btn btn-primary" type="submit">Next</button>
        </div>
    </form>
</div>
</body>
</html>