<include href="views/header.html"></include>

<br>
<br>
<h2 class="text-center">Interests</h2>
<hr class="style1">
<br>
<form class = "container" method="post" action="summary">


    <div class = "container">
        <legend>Indoor Interests</legend>
        <div class="row justify-content-md-center">
        <input type="checkbox" name="tv" value="tv" class="col-md-1">tv
        <input type="checkbox" name="movies" value="movies" class="col-md-1">movies
        <input type="checkbox" name="Cooking" value="Cooking" class="col-md-1">Cooking
        <input type="checkbox" name="Board" value="Board" class="col-md-1">Board Games
        </div>
        <br>
        <div class="row justify-content-md-center">
        <input type="checkbox" name="puzzles" value="puzzles" class="col-md-1">puzzles
        <input type="checkbox" name="reading" value="reading" class="col-md-1">reading
        <input type="checkbox" name="playingCards" value="playingCards" class="col-md-1">Playing Cards
        <input type="checkbox" name="videoGames" value="videoGames" class="col-md-1">video Games<br>
        </div>
    </div>
    <div class = "container">
        <legend>Outdoor Interests</legend>
        <div class="row justify-content-md-center">
        <input type="checkbox" name="hiking" value="hiking" class="col-md-1">Hiking
        <input type="checkbox" name="biking" value="biking" class="col-md-1">Biking
        <input type="checkbox" name="swimming" value="swimming" class="col-md-1">Swimming
        <input type="checkbox" name="collecting" value="collecting" class="col-md-1">Collecting<br>
        </div>

            <div class="row justify-content-md-center" >
        <input type="checkbox" name="walking" value="walking" class="col-md-2">Walking
        <input type="checkbox" name="climbing" value="climbing" class="col-md-2">Climbing<br>
            </div>

</div>
    <div class="text-right">
        <button class="btn btn-primary" type="submit">Next</button>
    </div>


</form>
</body>
</html>