<include href="views/header.html"></include>
<!--createProfile.html
@Author Jacob Jonas
@Date 5/8/22
-->

<link rel="stylesheet" href="styles/styles2.css">
<br>
<br>
<h2 class="text-center">Interests</h2>
<hr class="style1">
<br>
<form class = "container" method="post" action="#">
    <!-- get meal -->
    <div class="form-group">
        <div class = "container">

            <legend class="control-label text-center font-weight-bold">Indoor</legend>
            <br>
            <div class="row ">
            <repeat group="{{ @conds }}" value="{{ @conds }}">
                <label><input type="checkbox" name="conds[]" value="{{ @conds }}" id="conds">
                    {{ ucfirst(@conds)}}</label><br>
            </repeat>
            </div>
            <div class = "container">
                <legend class="control-label text-center font-weight-bold">Outdoor</legend>
                <br>
                <div class="row ">
                <repeat group="{{ @conds2 }}" value="{{ @conds2 }}">
                    <label><input type="checkbox" name="conds2[]"
                                  value="{{ @conds2 }}" >
                        {{ ucfirst(@conds2)}}</label><br>
                </repeat>
                </div>

    <!--        Display error if true-->

    <check if="{{ isset(@errors['conds']) }}">
        <span class="err text-danger">{{ @errors['conds']}}</span>
    </check>

    <div class="text-right">
        <button class="btn btn-primary" type="submit">Next</button>
    </div>


</form>
</body>
</html>