<include href="views/header.html"></include>
<!--createProfile.html
@Author Jacob Jonas
@Date 5/8/22
-->

<link rel="stylesheet" href="styles/styles2.css">
<br>
<br>
<h2 class="text-center">Interests</h2>
<hr class="style1">
<br>
<form class = "container" method="post" action="summary">

<!--Two containers, one for indoor one for outdoor. Checkboxes. Uses separate style sheet-->
    <div class = "container">
        <legend>Indoor Interests</legend>
        <div class="row ">
        <input type="checkbox" name="conds[]" value="tv">tv
        <input type="checkbox" name="conds[]" value="movies">movies
        <input type="checkbox" name="conds[]" value="Cooking" >Cooking
        <input type="checkbox" name="conds[]" value="Board" >Board Games
        </div>

        <div class="row ">
        <input type="checkbox" name="conds[]" value="puzzles" >puzzles
        <input type="checkbox" name="conds[]" value="reading" >reading
        <input type="checkbox" name="conds[]" value="playingCards" >Playing Cards
        <input type="checkbox" name="conds[]" value="videoGames" >video Games
        </div>
    </div>
    <br>
    <div class = "container">
        <legend>Outdoor Interests</legend>
        <div class="row ">
        <input type="checkbox" name="conds[]" value="hiking" >Hiking
        <input type="checkbox" name="conds[]" value="biking" >Biking
        <input type="checkbox" name="conds[]" value="swimming" >Swimming
        <input type="checkbox" name="conds[]" value="collecting" >Collecting
        </div>

            <div class="row" >
        <input type="checkbox" name="conds[]" value="walking" >Walking
        <input type="checkbox" name="conds[]" value="climbing" >Climbing
            </div>

</div>
    <div class="text-right">
        <button class="btn btn-primary" type="submit">Next</button>
    </div>


</form>
</body>
</html>