<include href="views/header.html"></include>

<!--LoginPage.html
@Author Jacob Jonas
@Date 4/21/22
JS Dummy login page
-->

<div
        id="jumbotronContainer"
        class="d-flex align-items-center justify-content-center"
>
    <div class="card mt-4">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Admin Log In</h4>
            <h6 class = "text-center"><i>Dummy login page</i></h6>
            <form id="loginForm" action="entry" method="get">
                <div class="form-group">
                    <label>Your email (admin@greenriverdev.com)</label>
                    <input
                            name="email"
                            id="email"
                            class="form-control"
                            placeholder="Email"
                            type="email"
                    />
                    <span id="emailErr" class="text-danger error"
                    >That is the incorrect email</span
                    >
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <label>Your password (password)</label>
                    <input
                            id="password"
                            class="form-control"
                            placeholder="******"
                            type="password"
                    />
                    <span id="passwordErr" class="text-danger error"
                    >That is the incorrect password</span
                    >
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <div class="checkbox">
                        <label> <input type="checkbox" /> Save password </label>
                    </div>
                    <!-- checkbox .// -->
                </div>
                <!-- form-group// -->
                <div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                </div>
                <!-- form-group// -->
            </form>
        </article>
    </div>
</div>
<script src="scripts/Login.js"></script>
</body>
</html>