<include href="views/header.html"></include>
<!--Summary.html
@Author Jacob Jonas
@Date 5/8/22

Prints all form data using session vars from index.php
-->
<br>
<br>
<br>
<div class = "container border rounded">
<div class = "row">
<!--Prints in a table-->
<table class="table col-sm-7 border rounded">
    <tbody class="float-left">
    <tr>
        <th>Name:</th>
        <td>{{@SESSION.member->getFname() }} {{@SESSION.member->getLname()
            }}</td>
    </tr>
    <tr>
        <th>Age:</th>
        <td>{{ @SESSION.member->getAge() }}</td>
    </tr>
    <tr>
        <th>Gender: </th>
        <td>{{ @SESSION.member->getGender() }}</td>
    </tr>
    <tr>
        <th>Phone Number:</th>
        <td>{{ @SESSION.member->getPhone() }}</td>
    </tr>
    <tr>
        <th>Email: </th>
        <td>{{ @SESSION.member->getEmail()
            }}</td>
    </tr>
    <tr>
        <th>State: </th>
        <td>{{ @SESSION.member->getState() }}</td>
    </tr>
    <tr>
        <th>Seeking: </th>
        <td>{{ @SESSION.member->getSeeking() }}</td>
    </tr>
    <tr>
        <th>Interests: </th>
        <td>{{ @SESSION.member->getInDoorIntrests() }}</td>
    </tr>
    </tbody>
    </thead>
</table>
<!--   Blank profile picture -->
    <img src="images/PpPic.jpg" class=" col-sm-5 rounded float-right" alt="Profile Pic">




</div>
    <br>
<!--    Prints outside of table to match rubric formatting-->
<div class="row">
    <table class="table col-sm-12">
        <tbody class="col-5 float-right">
        <tr>
            <th>Bio: </th>
            <td class="text-center">{{ @SESSION.member->getBio() }}</td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>
<!--Button points to nowhere-->
<div class="col-md-12 text-center">
    <a href="home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact Me!</a>
</div><br></div>
</body>
</html>