.btn-primary{
    margin-top: 3em;
    background-color: rgba(8, 128, 232, 0.71);
    border: none;
}
.btn-primary:hover{
    background-color: #1382ce !important;
}
p{
    color:black;
}
.error {
    color: darkred;
    display: none;
}
li{
    list-style-type: none;
}
ul{
    list-style-type: none;
}
/*.form-check-label{*/
/*    padding-right: 5em;*/
/*}*/
/*.form-check-inline{*/
/*    padding-right: 10em;*/
/*}*/
.form-check-input{
    padding-right: 10em;
}
.col-sm{
    margin-left: 0em;
}
.indent{
    text-indent: 40px;
}
label{
    font-weight: bold;
}
form{
    padding: 2em;
}
#Info{
    margin-left: 6em;
}
#gridIDRadios1, #gridIDRadios2, #gridIDRadios3{
    margin-right: 2em;
}
span{
    font-weight: normal;
}