.btn-primary{
    margin-top: 3em;
    background-color: rgba(8, 128, 232, 0.71);
    border: none;
}
.btn-primary:hover{
    background-color: #1382ce !important;
}
p{
    color:black;
}
.error {
    color: darkred;
    display: none;
}
li{
    list-style-type: none;
}
ul{
    list-style-type: none;
}
